config global 'global'
	option enabled '0'
	option log_enabled '1'
	option log_file '/tmp/portweaver.log'
	option max_log_size '1024'
	option max_log_files '3'

config project 'example'
	option remark 'Example Rule'
	option family 'any'
	option protocol 'tcp'
	option listen_port '8080'
	option target_address '192.168.1.100'
	option target_port '80'
	list src_zone 'wan'
	list dest_zone 'lan'
	option enabled '0'