<%+cbi/valueheader%>
<%local fs=require"nixio.fs"%>

<input type="button" class="cbi-button cbi-button-apply" id="apply_update_button" value="<%:Download%>" onclick=" return apply_update() "/>
<div id="core_link_box" style="margin-top:4px;line-height:1.6;"></div>
<textarea id="core_download" class="cbi-input-textarea" style="width: 100%;display:none;margin-top:8px" data-update="change" rows="10" cols="100" readonly="readonly" > </textarea>

<script type="text/javascript">//<![CDATA[

function mapMihomoArch(arch) {
	var m = {
		x86_64: 'linux-amd64',
		aarch64_cortex-a53: 'linux-arm64',
		aarch64_generic: 'linux-arm64',
		arm_cortex-a7_neon-vfpv4: 'linux-armv7',
		mipsel_24kc: 'linux-mipsle-softfloat',
		mips_24kc: 'linux-mips-softfloat',
		riscv64: 'linux-riscv64'
	};
	return m[arch] || 'linux-amd64';
}

function renderCoreLink() {
	var typeEl = document.getElementById('cbid.clash.config.dcore');
	var archEl = document.getElementById('cbid.clash.config.download_core');
	var box = document.getElementById('core_link_box');
	if (!typeEl || !archEl || !box) return;

	var type = typeEl.value || '3';
	var arch = archEl.value || 'x86_64';
	var repo = '';
	var assetHint = '';

	if (type === '2') {
		repo = 'https://github.com/MetaCubeX/mihomo/releases/latest';
		assetHint = '稳定版（mihomo）：mihomo-' + mapMihomoArch(arch) + '-v<版本号>.gz（安装为 /usr/bin/clash-meta）';
	} else {
		repo = 'https://github.com/MetaCubeX/mihomo/releases/tag/Prerelease-Alpha';
		assetHint = 'Alpha（预发布）：mihomo-' + mapMihomoArch(arch) + '-alpha-<短提交>.gz（如 7fdc122，无可用资产则回退稳定版）';
	}

	box.innerHTML = '下载来源：<a href="' + repo + '" target="_blank" rel="noopener noreferrer">' + repo + '</a>'
		+ '<br />架构文件名示例：<code>' + assetHint + '</code>';
}

function apply_update(){
	var lv = document.getElementById('core_download');
	var btn = document.getElementById('apply_update_button');
	lv.value = '';
	lv.style.display = 'inline';
	btn.disabled = true;
	btn.value = '<%:Downloading...%>';
	XHR.get('<%=url([[admin]], [[services]], [[clash]], [[doupdate]])%>',null,function(x, data){}
		);
	poll_check();
	return
}

function poll_check(){
var lv = document.getElementById('core_download');
	lv.style.display="inline"
XHR.poll(2, '<%=url([[admin]], [[services]], [[clash]], [[check]])%>', null,
	function(x, data) {
		var lv = document.getElementById('core_download');
		if (x.responseText && lv) {
			lv.innerHTML += x.responseText; 
			lv.scrollTop = lv.scrollHeight;
		}
	}
);

}

XHR.poll(3, '<%=luci.dispatcher.build_url("admin", "services", "clash", "corelog")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {			
			if(status.downcheck==0||status.downcheck==2){
				hide();	
			}
			if(status.downcheck==1){
				var btn = document.getElementById('apply_update_button');
				btn.disabled = true;
				btn.value    = '<%:Downloading...%>';
				poll_check();
				
			}

		}
});



//]]>

function hide(){
	$('#core_download').hide();
	var btn = document.getElementById('apply_update_button');
	btn.disabled = false;
	btn.value    = '<%:Download%>';
}



<% if fs.access("/var/run/core_update") then %>
var	btn = document.getElementById('apply_update_button');
	btn.disabled = true;
	btn.value    = '<%:Downloading...%>';
	poll_check();
<%end%>

renderCoreLink();
var _typeEl = document.getElementById('cbid.clash.config.dcore');
var _archEl = document.getElementById('cbid.clash.config.download_core');
if (_typeEl) _typeEl.addEventListener('change', renderCoreLink);
if (_archEl) _archEl.addEventListener('change', renderCoreLink);


</script>

<%+cbi/valuefooter%>
