<fieldset class="cbi-section">
	<table width="100%" cellspacing="10">
	<thead align="center">
		<tr>
			<th align="center"><%:App Name%></th>
			<th align="center"><%:Installed Version%></th>
			<th align="center"><%:New Version%></th> 
											   
		</tr>
	</thead>
	<tbody> 
		
		<tr>
			<td align="center" width="35%">mihomo（稳定版）</td> <td align="center" width="35%" id="_coretun"><%:Collecting data...%></td> <td width="35%" align="center" id="_coretunbutt"><font color="red"><%:Checking...%></font> </td> 
		</tr>	
		<tr>
			<td align="center" width="35%">Alpha（预发布）</td> <td align="center" width="35%" id="_coredtun"><%:Collecting data...%></td> <td width="35%" align="center" id="_coredtunbutt"><font color="red"><%:Checking...%></font> </td> 
		</tr>	
		<tr>
			<td align="center" width="35%">luci-app-clashoo</td> <td align="center" width="35%" id="_version"><%:Collecting data...%> </td> <td width="35%" align="center" id="_versionbutt"><font color="red"><%:Checking...%></font> </td>
		</tr>

		
	</tbody>
	</table>
</fieldset>

<script type="text/javascript">//<![CDATA[

	
	var version = document.getElementById('_version');
	var coremeta = document.getElementById('_coretun');
	var version_butt = document.getElementById('_versionbutt');
	var coremeta_butt = document.getElementById('_coretunbutt');
	var coremihomo = document.getElementById('_coredtun');
	var coremihomo_butt = document.getElementById('_coredtunbutt');

	XHR.poll(1, '<%=luci.dispatcher.build_url("admin", "services", "clash", "status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
		
			if(status.clash_meta_core==0){
				coremeta.innerHTML = status.clash_meta_core ? '<b><font color=\"red\"><%:Not Installed%></font> </b>' : '<em><b><font color=\"red\"><%:Checking...%></font></b></em>';
			}else{
				coremeta.innerHTML = status.clash_meta_core ? '<b><font color=\"green\">'+status.clash_meta_core+'</font> </b>' : '<em><b><font color=\"red\"><%:Checking...%></font></b></em>';
			}
			if(status.mihomo_core==0){
				coremihomo.innerHTML = status.mihomo_core ? '<b><font color=\"red\"><%:Not Installed%></font> </b>' : '<em><b><font color=\"red\"><%:Checking...%></font></b></em>';
			}else{
				coremihomo.innerHTML = status.mihomo_core ? '<b><font color=\"green\">'+status.mihomo_core+'</font> </b>' : '<em><b><font color=\"red\"><%:Checking...%></font></b></em>';
			}
			version.innerHTML = status.current_version ? '<b><font color="green">'+status.current_version+'</font> </b>' : '<em><b><font color="red"><%:Checking...%></font></b></em>';
						
		}
	});
	

	XHR.poll(5,'<%=luci.dispatcher.build_url("admin", "services", "clash", "check_status")%>', null, function(x, status) {});	


	XHR.poll(1,'<%=luci.dispatcher.build_url("admin", "services", "clash", "status")%>', null, function(x, status) {
		if ( x && x.status == 200 ) {
			version_butt.innerHTML = status.current_version ? '<b><font color="green">'+status.new_version+'</font> </b>' : '<em><b><font color="red"><%:Checking...%></font></b></em>';
			coremeta_butt.innerHTML = status.current_version ? '<b><font color="green">'+status.new_clash_meta_version+'</font> </b>' : '<em><b><font color="red"><%:Checking...%></font></b></em>';
			coremihomo_butt.innerHTML = status.current_version ? '<b><font color="green">'+status.new_mihomo_version+'</font> </b>' : '<em><b><font color="red"><%:Checking...%></font></b></em>'; 
						
		}
	});	




//]]></script>


